Repository alimpolat/rag-financial-ai-agent-llamapack-llamaindex: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, black --check, isort --check-only, flake8

docs: update repository URLs with GitHub username alimpolat
  package.json
Due: prettier --write

docs: update repository URLs to match actual GitHub repo name
  package.json
Due: prettier --write

fix: resolve GitHub Actions CI/CD pipeline issues
  .github/workflows/ci.yml
  __tests__/placeholder.test.ts
  server/tests/__init__.py
  server/tests/test_placeholder.py
Due: eslint --fix, prettier --write, black --check, isort --check-only, flake8

fix: resolve all TypeScript errors and API compatibility issues
  package-lock.json
  package.json
  tsconfig.json
  tsconfig.tsbuildinfo
Due: prettier --write

fix: make ESLint non-blocking in CI/CD pipeline
  .eslintrc.json
  .github/workflows/ci.yml
  tsconfig.tsbuildinfo
Due: prettier --write

fix: add missing lib files and fix .gitignore
  .gitignore
  lib/cache.ts
  lib/errorHandler.ts
  lib/fileExtractors.ts
  lib/ingest.ts
  lib/llama.ts
  lib/logger.ts
  lib/ratelimit.ts
  lib/storage.ts
  lib/upload.ts
Due: eslint --fix, prettier --write

chore: trigger new CI/CD run to verify fixes
  README.md
Due: prettier --write

optimize: improve CI/CD pipeline performance and reliability
  .github/workflows/ci.yml
Due: prettier --write

fix: remove unused nonlocal variable in server/ingest.py
  server/ingest.py
Due: black --check, isort --check-only, flake8

style: format Python files with black
  server/cli_eval.py
  server/config.py
  server/ingest.py
  server/llama_setup.py
  server/main.py
  server/rag.py
Due: black --check, isort --check-only, flake8

style: sort Python imports with isort
  server/cli_eval.py
  server/config.py
  server/ingest.py
  server/llama_setup.py
  server/main.py
  server/rag.py
Due: black --check, isort --check-only, flake8

fix: make Trivy SARIF upload more robust
  .github/workflows/ci.yml
Due: prettier --write

fix: add proper permissions for CodeQL security scanning
  .github/workflows/ci.yml
Due: prettier --write

fix: resolve Docker build issues and optimize build process
  Dockerfile
  tsconfig.tsbuildinfo
Due: none

fix: make Slack notification optional in deployment
  .github/workflows/ci.yml
Due: prettier --write

fix: resolve GitHub Actions syntax error in workflow file
  .github/workflows/ci.yml
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,yml,yaml})
  black --check: any of: *.py
  isort --check-only: any of: *.py
  flake8: any of: *.py
